[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
google-cloud-storage = "*"
python-magic = "*"
numpy = "*"

[dev-packages]
pytest = "*"
flask = "*"
google-cloud-storage = "*"
functions-framework = "*"
yapf = "*"
faker = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"

[scripts]
makerequeriments="pip freeze > requirements.txt"
deploy="python -m scripts.deploy"
cov="python -m scripts.coverage"
